@tailwind base;
@tailwind components;
@tailwind utilities;


 canvas#canvas {
        z-index: -1;
        position: absolute;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(200px);
        transform: rotate(0deg) scale(2) translateY(0%);
        --gradient-color-1: #153250; 
        --gradient-color-2: #090D16; 
        --gradient-color-3: #F9AA5E;  
        --gradient-color-4: #C3C9DE;
        --gradient-speed: 0.000018;
      }


/* 
@font-face {
    font-family: "ClashDisplay";
    src: url("../public/fonts/ClashDisplay-Bold.woff2")format("woff2");
} */